/* import external stylesheet for last-minute updates */

@import url("https://www.openrightsgroup.org/assets/site/action/css/external.css");

/*Typeface*/

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Roboto+Slab&display=swap');

* {
    font-family: "Roboto Slab", serif;
}

h1, h2, h3, h4 {

    font-family: "Fjalla One", sans-serif;
}

body,
button,
input,
select,
pre,
code,
kbd,
samp,
textarea {
    color: #303030;
}

pre,
code,
kbd,
samp 
{
    font-size: 100%;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
.form-text input,
.form-type-password input,
textarea,
select,
.selecter .selecter-selected {
    font-size: 120%;
    background-color: #fff;
    border: 1px solid #cccccc;
    font-weight: normal;
    color: #303030;
    padding: .5em;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.33333333;
    background: #fff;
}

h1 {
    font-size: 1.33333333em;
    line-height: 1em;
    margin-bottom: 1em;
    font-weight: 300;
    color: #FC4348;
    clear: left;
    display: block;
    word-wrap: break-word;
}

h2 {
    margin-bottom: 1.2em;
    font-size: 29px;
    font-weight: 900;
    line-height: 35px;
    color: #FC4348;
}

#main-menu a,
#main-menu a:visited {
    font-weight: normal;
    color: #808080;
    text-decoration: none;
    display: block;
    padding: .5em 5%;
    background-color: #ffffff;
    border-color: #d9d9d9;
}

#main-menu .menu .menu a {
    background: #fff;
    border: 1px solid transparent;
    border-bottom: 1px solid #d9d9d9;
    text-transform: none;
    color: #303030;
}

.with-mobile-menu #mobile-menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: url(/sites/open-rights-group/themes/contrib/simplicity/css/images/mobile-menu-icon.png) no-repeat 2px center transparent;
    text-decoration: none;
    color: #565456;
    font-weight: normal;
    font-style: normal;
    z-index: 401;
    display: block;
    float: right;
    clear: right;
}

#header #main-menu li a,
#header #main-menu li a:visited {
    text-transform: none;
    padding: 0.9em 0.8em;
    font-weight: normal;
    border: 1px solid transparent;
    border-bottom: none;
    text-decoration: none;
    color: #515151;
    font-size: 100%;
    display: block;
    background-color: transparent;
}

body.maintenance-page {
    font-weight: normal;
    color: #303030;
    font-size: 1em;
    line-height: 1.5em;
}

.maintenance-page h1 {
    color: #cc0033;
    font-weight: bold;
    font-size: 2.8125em;
    line-height: 1.0667em;
    margin-bottom: 0.5333em;
    clear: left;
    display: block;
    word-wrap: break-word;
    max-width: 900px;
}

#footer {
    background-color: #231f20;
    color: #fff;
}

footer * .caps {
    text-transform: uppercase;
}

footer {
    padding-top: 1em !important;
}

footer * a {
    color: white !important;
    text-decoration: none;
}

footer .two {
    float: left;
    clear: left;
    font-weight: bold;
}

footer .fourteen {
    margin-left: 10em;
}

footer .columns {
    margin-bottom: 0.75em;
}

footer .right {
    text-align: right;
}

a,
a:link,
a:visited {
    color: #FC4348;
}

input[type="submit"],
#edit-submit,
a.button,
.button {
    border: 2px solid #a91c22;
    background: #FC4348 repeat-x top;
}

input[type="submit"]:hover,
.share-light li a,
#edit-submit:hover,
.button:hover,
a.button:hover,
input[type="submit"]:focus,
#edit-submit:focus,
.button:focus,
a.button:focus,
.button_focus,
.ui-body-o a.button:hover,
.ui-body-o a.button:focus {
    background: repeat #d5242a !important;
    border-color: #FC4348 !important;
    border-radius: 5px;
    color: #fff;
}

h1,
h2,
h4,
legend {
    color: #FC4348;
}

.form-textarea-wrapper textarea {
    min-height: 350px;
}

.marker,
.form-required {
    color: #FC4348;
}

div.error,
.error {
    color: #FC4348;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error,
.form-item select.error+.selecter .selecter-selected,
.form-item input.error+.picker .picker-handle {
    border: 2px solid #FC4348;
}

.progress-bar {
    font-size: 1.2em;
    line-height: 2.5;
    background-color: #FC4348;
    color: #ffffff;
    height: 100%;
    border-radius: 5px;
    text-align: center;
}

.progress {
    background-color: #f5f5f5;
    border-radius: 0px;
    padding: 5px;
}

.header {
    text-align: center;
}

.header::before {
    display: inline-block;
    margin: 0 5px 6px -20px;
    content: " ";
    height: 3px;
    width: 15%;
    background-color: #FC4348;
}

.header::after {
    display: inline-block;
    margin: 0 -20px 6px 5px;
    content: " ";
    height: 3px;
    width: 15%;
    background-color: #FC4348;
}

h1#page-title {
    font-weight: bold;
    font-size: 26px;
}

#page-title {
    color: white;
    background-color: #FC4348;
    padding: 30px;
}

body {
    background: url(https://openrightsgroup.org/assets/site/org/images/background.jpg) repeat #f7f7f7;
}

#main-wrapper {
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
}

#banner {
    max-width: 960px;
    margin: 0 auto;
    background: white;
}

#header {
    background: #191818 !important;
    border: none;
    margin-bottom: 5px;
    min-height: 96px;
}

#header a#logo {
    background-color: #191818 !important;
    border: none !important;
}

#logo img {
    margin-top: 16px;
    height: 64px;
}

p {
    font-size: 18px
}

/* thankyou page block */

.panel {
   background-color: rgb(230,230,231);
   border-radius: 15px;
   padding: 5px;
   padding-bottom: 10px;
   margin-top: 15px;
   margin-bottom: 10px;
   border: none;
   font-size: 22px;
   font-weight: 400;
   line-height: 1.333em;
   clear: both;
}

.panel p {
  padding: 15px 20px 15px 20px;
  font-size: 22px;
  float: left;
  width: 72%;
  margin-bottom: 5px;
}

.text_subcontent {
   color: #FC4348;
}

.panel .panel {
   background-color: white;
   margin-top: 0px;
   border: 1px solid #cecece;
   padding: 22px;
}

#join a.button {
   display: inline-block;
   box-sizing: border-box;
   border-radius: 5px;
   border: none;
   line-height: 24px;
   color: white;
   padding: 15px;
   margin-right: 20px;
   margin-top: 10px;
   margin-bottom: 20px;
   font-size: 22px;
   min-width: 155px;
   font-weight: normal;
}

.panel a {
  color: #191818;
  text-decoration: none;
}

.panel a:hover {
  text-decoration: underline;
}

.panel a.button:hover {
  text-decoration: none;
}

body {
    background-color: #272727;
}

/* blockquote */

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.node-teaser .node-readmore a, .node-teaser .node-readmore a:hover, .node-teaser .node-readmore a:focus {
    background: #FC4348 repeat-x top;
    border: 2px solid #FC4348;
}

.pgbar-current {
  background-color: #FC4348;
}
